<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.twopair.mapper.CartMapper">

<!--    <resultMap id="BaseResultMap" type="cn.twopair.pojo.Cart">-->
<!--            <id property="id" column="id" jdbcType="INTEGER"/>-->
<!--            <result property="userid" column="userId" jdbcType="INTEGER"/>-->
<!--            <result property="cakeid" column="cakeId" jdbcType="INTEGER"/>-->
<!--            <result property="num" column="num" jdbcType="INTEGER"/>-->
<!--    </resultMap>-->


</mapper>
